@import "../variaveis/variaveis.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: $fundo-cinza;
}
.banner {
  .header {
    button {
      background-color: $amarelo;

      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      color: $preto;

      padding: 12px 32px;
      border-radius: 5px;
    }

    button:hover {
      background-color: $amarelo-escuro;
    }

    padding-top: 3rem;
    padding-bottom: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
  }
  .cards {
    .card {
      h1 {
        color: #fff;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
      }
      div {
        color: #fff;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;

        display: flex;
        gap: 10px;
      }

      display: flex;
      flex-direction: column;
      gap: 14px;

      padding: 25.19px 99px 18.13px 32px;
      border-radius: 5px;
    }
    .verde {
      background-color: $verde;
    }
    .vermelho {
      background-color: $vermelho;
    }
    .azul {
      background-color: $azul-escuro-2;
    }

    display: flex;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;

    position: relative;
    top: 2.5rem;
  }

  background-color: $azul-escuro-1;
}
.table {
  div {
    h2 {
      color: $preto;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
    }
    input {
      color: $fonte-cinza;
      background-color: $branco;
      padding: 16px 163px 16px 20px;
      border-radius: 5px;

      &::placeholder {
        color: $fonte-cinza;
      }
    }

    padding-top: 6.5rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
  }
  table {
    thead {
      td {
        color: $fonte-cinza;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;

        padding: 20px 32px;
      }
    }
    tbody {
      .title {
        color: $preto;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
      td {
        color: #969cb2;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding: 20px 32px;
        background-color: $branco;
      }
    }

    border-spacing: 0 8px;
    width: 100%;

    max-width: 1240px;
    margin: 0 auto;
  }
  padding-bottom: 40px;
}
.modal {
  display: none;
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.7);
  }
  .content {
    h2 {
      font-family: Poppins;
      font-size: 22px;
      font-weight: 600;
      color: $preto;

      margin-bottom: 40px;
      width: 100%;
    }
    .button-close {
      background-color: transparent;
      padding: 2px 10px;
      border-radius: 50px;

      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      color: #495057;

      position: absolute;
      right: 15px;
      top: 15px;
    }
    form {
      .fieldForm {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;

        label {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 4px;
          color: $preto;
        }

        input {
          height: 3rem;
          border-radius: 5px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .name {
        width: 500px;
      }
      .value {
        width: 300px;
        input {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .tipe {
        width: 400px;
        input {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .data {
        width: 200px;
      }
      .button-salvar {
        background-color: $amarelo;
        border-radius: 5px;

        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        color: $preto;

        padding: 12px 120px;
        margin-top: 50px;
      }
      .button-salvar:hover {
        background-color: $amarelo-escuro;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    background-color: $fundo-cinza;
    border-radius: 8px;

    max-width: 38rem;
    padding: 30px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-270px, -290px);
  }
}
