@import "../variaveis/variaveis.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: $amarelo;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: $fundo-cinza;
}
