@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Tipografia:

// Cores:
$azul-escuro-1: #0b1923;
$azul-escuro-2: #203047;
$amarelo: #ffc843;
$amarelo-escuro: #ffb400;
$verde: #219653;
$vermelho: #eb5757;
$preto: #0b1923;
$fonte-cinza: #969cb2;
$fundo-cinza: #f0f2f5;
$branco: #ffffff;
